body {
    place-items: center;
}
img {
    width: 320px;
    height: 320px;
    border-radius: 60px;
}

.sectionImg {
    background-color: rgb(27, 52, 193);
    text-align: center;
    color: white;
    padding:  25px;
    width: 95%;
}

section {
    margin: 12px;
    padding-left: 25px;
    width: 95%;
    border-style: solid;
    border-color: rgba(172, 172, 172, 0.706);
    border-width: 1px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 0px rgb(172, 172, 172, 0.706);
}

section h5 {
    margin: 0px;
}
section p {
    margin: 10px 0;
}